.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noSearchResult {
    font-size: 40px;
    font-weight: 900;
    color: red;
}

.submitBtn {
    margin: 0 auto;
    display:block
}
